@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

html {
	background-color: white;
	color: #8b8b8b;
	font-size: 14px;
	font-family: "Source Sans Pro", helvetica; 
}
body {
	margin:  0;
	padding: 0;
	
	
}

header {
	/*background-color: darkgrey;*/
	padding: 25px; 
	font-style: bold;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 2em;
	text-align: left;
	margin-left: 80px;
	letter-spacing: 5px;
}


nav{
	background-color: darkred;
	font-size: 1rem;
	text-align: right;
	padding: 10px;

}
nav ul{
	margin: 0;
	padding: 0;
}

nav li{
	margin-left: 6px;
	margin-right: 6px;
	display: inline;
}

nav a{
	color: #fff; 
	text-decoration: none;
}

article {
	position: absolute;
	margin: 5px;
	width:600px;
	margin-left: 180px;
	margin-bottom: 100px;
}

h1{
	text-transform: uppercase;
}

p{
	line-height: 20px;
	text-indent: 30px;
}


ul{
	margin-bottom: 10px;
}


figure{
    margin: 0;
    max-width:30%;
    height:auto;
    
    }
   
figure img {
	width: 500px;
	height: auto;	
	}

figcaption{
	font-style: italic;
	font-size: 15px;
	text-align: center;
	}

figure {
	position: sticky;
	margin-top: 20px;
	margin-left: 850px;
	margin-bottom: 90px;
}

div{
	color: #8b8b8b; 
	text-decoration: none;
	position: sticky;
	font-style: bold;
	text-transform: uppercase;
	font-size: 15px;
	margin-left: 1250px;
	margin-top:90px;
}
